################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/currencyTest/FileContentIndex/43884f14-55e5-4a23-a223-9bfc7c991a4a.vsidx
